@page "/about"  

<PageTitle>About</PageTitle>
<h1>Over De Scheve Toren</h1>
<p>Welkom bij De Scheve Toren, de shaakvereniging in Pijnacker-Nootdorp! <br /> Onze schaakvereniging is te vinden in het denksporthuis,  Thorbeckelaan 82A, 2641 WD Pijnacker. <br /> De locatie is prima te berijken met de auto, of met een kwartier te lopen vanaf metrohalte Pijnacker-Centrum</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.597821406914!2d4.426905188224476!3d52.0278151661217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5c9282b576abf%3A0x4e254db74d23d579!2sHet%20Denksporthuis!5e0!3m2!1snl!2snl!4v1717234010443!5m2!1snl!2snl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>